@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Oswald:wght@500&display=swap');

*{
  padding: 0;
  margin: 0;
}
body{
  background-image: url('https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
  background-repeat: no-repeat;
}

.quoteCard{
  display: flex;
  width: 50%;
  align-items: center;
  margin: 100px auto;
  flex-direction: column;
}
.quote{
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  font-weight: 500;
}
.author{
  font-family: 'Mukta', sans-serif;
  font-weight: 200;
}
button{
  color: rgba(25, 24, 24, 0.763);
  font-weight: 500;
  background-color: transparent;
  border: 0;
  margin-top: 10px;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 8px 15px rgb(0,0,0,.3);
}

@media only screen and (max-width: 500px) {
  .quoteCard{
    width: 80%;
  }
}